/*FONTS*/
.bitcount-grid-single-400 {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}
.bytesized-regular {
  font-family: "Bytesized", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*FONTS END*/


body{
    width: 100vh;
    height: 100vh;
    background-image: linear-gradient(to bottom, #2a505c, #252948 );
}
.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "jacquard 12";
    font-size: 2em;
    color: white;
    mix-blend-mode: hard-light;
}
.title h1{
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 35px;
}
.title h2{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.mainContent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "bytesized";
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    padding: 20px;
    border-radius: 3px;
    margin-top: 2em;
}
.mainContent h3{
  font-size: 1.5em;
    color: white;
    mix-blend-mode: difference;
    text-align: center;
}

.mainContent h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 10px;
    mix-blend-mode: exclusion;
    margin-bottom: 5px
}

.mainContent a {
    display: flex;
    align-self: left;
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
.mainContent img:not(#fireplace) {
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 10px;
    box-shadow: #2a505c 0px 0px 10px;
}
.mainContent img:hover:not(#fireplace) {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px #2a505c);
    filter: invert();
}
.fire{
    margin-top: -9em;
    display: flex;
    width: 150px;
    height: 150px;
    justify-self: right;
}
.fire:hover{
  cursor: pointer;
}
#lichess-icon{
    background-color: white;
    padding: 2px;
}